#hero {
    background: linear-gradient(135deg,
            #F9F8F4 10%,
            #F9F8F9 45%,
            #F9F8F6 100%);
    padding: 0px 0px;
    position: relative;
    overflow: hidden;

}

.hero-badge {
    display: inline-flex;
    align-items: center;
    gap: 8px;
    background: #EFE9E3;
    color: var(--peimary-color);
    font-family: 'sora' sans-serif;
    font-size: 0.78rem;
    font-weight: 700;
    letter-spacing: .30em;
    text-transform: uppercase;
    padding: 7px 16px;
    border-radius: 50px;
    margin-bottom: 10px;
    border: 1px solid var(--peimary-color);

}

.hero-heading {
    font-size: 4.2rem;
    line-height: 0.78;
    font-family: 'Times New Roman', Times, serif;
    margin-bottom: 30px;



}



/* need to edit font */
.hero-heading .accent {
    color: #ad9885;
    position: relative;
    font-size: 5.5rem;

}

.hero-dese {
    font-size: 1.05rem;
    color: var(--text-secondary);
    max-width: 520px;
    margin-bottom: 36px;
    line-height: 2;
    justify-content: center;
}

.btn-hero-primary {
    background-color: var(--text-secondary) !important;
    font-family: 'Times New Roman' !important;
    font-weight: 700 !important;
    font-size: 0.98rem !important;
    border-radius: 20px !important;
    padding: 14px 30px !important;
    border: none;
    transition: all var(--transition) !important;
    box-shadow: 0 4px 16px #0c0c0c !important;
    color: #EFE9E3 !important;


}

#bi-arrow-right {
    color: #EFE9E3;


}

.btn-hero-primary:hover {
    background: var(--peimary-hover);
    transform: translateY(-2px);
    box-shadow: 0 8px 24px #857c7c;
    color: #EFE9E3;
}

.btn-hero-outline {
    background-color: transparent !important;
    font-family: 'Times New Roman' !important;
    font-weight: 700 !important;
    font-size: 0.98rem !important;
    border-radius: 20px !important;
    padding: 14px 30px !important;
    border: 1px solid #0c0c0c;
    display: inline-flex;
    gap: 80px;
    align-items: center;
    box-shadow: 0 1px 12px #444444 !important;


}

.btn-hero-outline:hover {
    background: var(--peimary-hover);
    transform: translateY(-2px);
    box-shadow: 0 8px 24px #857c7c;
    color: #EFE9E3;
}

/* prblem */

.image-right {
    overflow: hidden;
    display: flex;
    justify-content: right;
    min-height: 420px;
    position: relative;
    top: 0;
    right: 0%;
    height: 100%;
    min-height: 400px;
    align-items: right;
    width: 100%;
    margin: 2px 0px;
    padding: 0px 0px;

}

.image-right:hover {
    transform: translateY(-2px);


}



/* work */
.stat-card {
    top: 0;
    padding: 0;

}

/* feature ======================================================================================*/
.section-tag {
    display: inline-flex;
    align-items: center;
    gap: 8px;
    background: #EFE9E3;
    color: var(--peimary-color);
    font-family: 'sora' sans-serif;
    font-size: 0.78rem;
    font-weight: 700;
    letter-spacing: .30em;
    text-transform: uppercase;
    padding: 7px 16px;
    border-radius: 50px;

    border: 1px solid var(--peimary-color);
    margin-top: 40px;
}



/* features================================================================================== */
#features {
    background: var(--bg-section);
    padding-bottom: 10px;
}

.feature-card {
    background: var(--first-background);
    border-radius: var(--radius);
    overflow: hidden;
    border: 1.5px solid var(--border);
    transition: all var(--transition);
    height: 100%;
    width: 100%;
    border-radius: 20px;
    padding: 0px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.feature-card:hover {
    box-shadow: var(--shadow-lg);
    transform: translateY(-6px);
}

.feature-thumb {
    width: 100%;
    display: flex;
    position: relative;
    padding: 0;
}


.feature-thumb img {
    width: 250px;
    display: block;
}

.bi-arrow-right {
    width: 40px;
    height: 40px;
    background: #000;
    color: #fff;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.bi-arrow-right:hover {
    transform: translateY(-2px);
}

.section-title {
    font-size: 3.7rem;
    line-height: 0.99;
    letter-spacing: -0.01em;
    margin-bottom: 14px;
    font-family: 'Times New Roman', Times, serif;
    padding-top: 10px;

}

.section-sub {
    font-size: 1.05rem;
    color: var(--text-secondary);
    max-width: 520px;
    margin-bottom: 36px;
    line-height: 2;
    justify-content: center;
}

/* About US ================================================================================*/
#Fashion {
    background: var(--bg-section);
    padding-bottom: 0px;

}

.why-image {
    border-radius: 24px;
    margin: 40px 2px;
    background: linear-gradient(145deg, #e6e2de, #dfceba, #ad9885);
    min-height: 300px;
    align-items: center;
    justify-content: center;
    position: relative;
    overflow: hidden;
    box-sizing: var(--shadow-lg);
}

/* sataisttics =========================================================================*/

#statisttcs {
    background: var(--first-background);
    position: relative;
    overflow: hidden;
    margin-top: 0px;
}

.stats-counter {
    padding: 30px 14px;
    text-align: center;
    position: relative;
    z-index: 1;
}

.stats-counter .num {
    font-family: 'Times New Roman', Times, serif;
    font-size: 1.2rem;
    font-weight: 505;
    color: #000;
    line-height: 1;
    display: block;
}

.stats-counter .lbl {
    align-items: center;
    justify-content: center;

}

.stats-divider {
    width: 1px;
    align-self: stretch;
    border-left: 1px solid #ad9885;
}

.stats-icon {
    color: #ad9885;
    font-size: 3rem;
    padding-bottom: 10px;
}

/* Customer idea =========================================================================*/

#testimonials {
    background: var(--bg-section);
    padding-bottom: 0px;
    margin-bottom: 80px;
}

.testimonials-card {
    background: var(--first-background);
    border-radius: var(--radius);
    padding: 32px 28px;
    border: 1.5px solid var(--border);
    height: 100%;
    position: relative;
    transition: all var(--transition);
    overflow: hidden;

}

.image-cutomer {
    background: #ad9885;
    overflow: hidden;
    height: 100px;
    width: 100px;
    border-radius: 50px;

}

.C-reviwe {
    font-size: 18px;
    padding: 15px;
    margin: 0;
}

.C-name {

    font-weight: bold;
    margin-top: 2px;
}

.testimonials-card:hover {
    box-shadow: var(--shadow-lg);
    transform: translateY(-6px);
    border-color: #ad9885;
}



/* last collection */
#hero1 {

    position: relative;
    overflow: hidden;
    background: var(--first-background);
    margin: 5px 80px;
    height: 100%;

    margin-bottom: 80px;

    border-radius: var(--radius);



}

.image-collection {
    overflow: hidden;
    display: flex;
    justify-content: right;
    position: relative;
    top: 0;
    right: 0%;
    height: 400px;
    min-height: 400px;
    align-items: right;
    width: 400px;
    padding-top: 0;


}

#hero1:hover {
    box-shadow: var(--shadow-lg);
    transform: translateY(-6px);

}