#product {
    background: var(--first-background);
    padding-bottom: 10px;
}

.img-detail{
     border-radius: var(--radius);
   height: 100%;
   width: 1005;
    transition: all var(--transition);
   
    border-radius: 20px;
   
    display: flex;
    justify-content: space-between;
    align-items: center;

}
